@{
    Layout = "_LayoutCustomer";
}

<div class="row">
    <div class="container-fluid position-relative bg-white d-flex pt-5 col-md-2" style="margin-top:50px;">
        @await Component.InvokeAsync("role_Manager")
        <!-- Sidebar End -->
    </div>
    <div class="col-md-10" style="margin-top:100px;">
        @RenderBody()
    </div>
</div>
