@{
    Layout = "_LayoutCustomer";
}
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5" style=" margin-top: 20px;">
    <div class="container py-5">
         <div class="col-9" style="width:100%;">
             <div class="row g-12 justify-content-center">
                 @RenderBody()
             </div>
         </div>
    </div>
</div>
<!-- Fruits Shop End-->