@model IEnumerable<Libary.ViewModels.menuCategory_ViewModels>
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Categories</a>
    <div class="dropdown-menu m-0 bg-secondary rounded-0">
        @foreach (var item in Model)
        {
            <a asp-controller="listBook" asp-action="categoryBook" asp-route-category="@item.categoryID" class="dropdown-item">
                  @item.categoryName
            </a>
        }
    </div>
</div>