
@{
    ViewData["Title"] = "categoryBook";
}
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Libary.ViewModels.listBook_ViewModels>
@{
    int idCategory = 0;
    foreach (var item in Model)
    {
        idCategory = (int)item.idCategory;
        break;
    }
}
@await Html.PartialAsync("bookitem", Model)
<div class="col-12 ">
    <div class="pagination d-flex justify-content-center mt-5" ">
    @Html.PagedListPager(Model, page => Url.Action("categoryBook", new { page = page, category =idCategory }))
    </div>
</div>
