<div class="main">
    <h1>Management Libary</h1>
    <h3>Forgot Account</h3>
    <form action="">
        <label for="first">
            Code:
        </label>

        <div class="wrap b">
            <a asp-controller="Login" asp-action="checkAccount" class="button-login">
                <input type="text"
                       id="first"
                       name="nameAccount"
                       placeholder="Enter your Username" required>
            </a>
        </div>
    </form>
</div>
