@model IEnumerable<Libary.ViewModels.roleManagement>

<div class="sidebar pe-4 pb-3 col-12" id="navbarCollapse" style="margin-left:50px;">
    <nav class="navbar bg-light navbar-light">
        <div class="navbar-nav w-100">
            <div class="nav-Link dropdown">
                <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Reader Manager</a>
                <div class="dropdown-menu m-0 bg- rounded-0 bg-ml" style="border: none;">
                    @foreach (var item in Model)
                    {
                        if(item.checkRole == 2)
                        {
                            <a asp-controller="ListReaderBorrowing" asp-action="Index" asp-route-category="" class="dropdown-item">
                                Reader Borrowing
                            </a>
                        }
                        if(item.checkRole == 2)
                        {
                            <a asp-controller="ReaderViolated" asp-action="Index" asp-route-category="" class="dropdown-item">
                                Reader Violated
                            </a>
                        }
                        if (item.checkRole == 2)
                        {
                            <a asp-controller="ListWaitingRental" asp-action="Index" asp-route-category="" class="dropdown-item">
                                Rental Waiting List
                            </a>
                        }
                    }
                </div>
            </div>
            <a asp-action="Index" asp-controller="managementBook" class="nav-item nav-link active">Add Books</a>
        </div>
    </nav>
</div>